*{
    padding: 0px;
    margin: 6px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(2,37,78,1) 0%, rgba(4,56,126,1) 19.7%, rgba(85,245,221,1) 100.2% );
    
}
#header{
    margin: auto;
    width: 900;
    border-radius:15px;
}
ul, ol{
    list-style: none;
}
.nav li a{
    background-color: #090979;
    color: #fff;
    border:solid;
    border-radius:15px;
    text-decoration: none;
    padding: 15px 26px;
    display: block;
}
.nav > li{
    float: left;
}
.nav li a:hover{
    background-color: #696666;
}


p{
    text-align: justify;
    font-size: 16px;
    font-family: "Cactus Classical Serif", serif;
    font-weight: 400;
    font-style: normal;
    
}


  
h1{
    color: #f7fbff;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(151,41,247,1) 0%, rgba(24,22,39,1) 90% );
    border:solid;
    border-radius: 20px;
    border-color: #000;
    padding: 20px;
    text-align: center;
}

html {
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 0;
    background: #162944;
  }
  
  